body{
    margin: 0; 
    padding: 0; 
    display:flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #f0f2f5;
    font-family:Arial, sans-serif; 
}

.form-register{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;  
}
h2{
    margin-bottom:25px ;
    font-size: 25px;
}

input {
    width: 100%; 
    padding: 12px 15px; 
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-sizing: border-box;
    font-size: 16px;
    outline: none; 
}

.btn-login{
    display: block; 
    width: 100%; 
    padding: 12px; 
    background-color: #4F46E5;
    color: white; 
    border: none; 
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer; 
    text-decoration: none;
}
.btn-login:hover {
    background-color: #4543b1; 
} 
.footer{
    margin-top: 20px;
    font-size: 14px;
    color: #000000; 
}
.footer a{
    color: #4F46E5; 
    text-decoration: none;

}
.footer a:hover{
text-decoration: underline;
}