body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.register-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center; 
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #28a745;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}


.footer-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.footer-text a {
    color: #4c4cff; /* Màu xanh dương cho liên kết */
    text-decoration: none;
    font-weight: bold;
}

.footer-text a:hover {
    text-decoration: underline;
} 